@import 'tailwindcss';
@plugin 'daisyui' {
  themes: caramellatte --default, light, dark, valentine, abyss, cyberpunk, aqua, coffee, luxury, lemonade;
}

/* Thin, modern scrollbar */
:root {
  scrollbar-color: color-mix(in oklch, currentColor 35%, #0000) #0000;
  scrollbar-width: thin;
}

